*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0a0a0a;
color:white;
overflow-x:hidden;
}

nav{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 10%;
background:rgba(0,0,0,0.5);
backdrop-filter:blur(10px);
z-index:1000;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
background:url("images/hero.jpg") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
}

.hero-overlay{
position:absolute;
width:100%;
height:100%;
background:linear-gradient(black,transparent);
}

.hero-content{
position:relative;
}

.hero h1{
font-size:70px;
letter-spacing:6px;
}

.hero p{
margin:20px 0;
font-size:20px;
}

button{
padding:12px 30px;
border:none;
background:#ff3c3c;
color:white;
cursor:pointer;
font-size:16px;
}

.section{
padding:120px 15%;
text-align:center;
}

.parallax{
height:70vh;
background:url("images/world.jpg") center/cover fixed;
display:flex;
align-items:center;
justify-content:center;
}

.parallax-text{
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:10px;
}

.features{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
}

.feature{
background:#111;
padding:30px;
border-radius:10px;
transition:0.3s;
}

.feature:hover{
transform:translateY(-10px);
}

.gallery{
margin-top:50px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:10px;
transition:0.4s;
}

.gallery img:hover{
transform:scale(1.05);
}

.dev{
background:#111;
}

footer{
padding:40px;
text-align:center;
background:black;
}

.creator{

padding:120px 10%;
text-align:center;
background:#0d0d0d;

}

.creator-container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:40px;
margin-top:50px;

}

.creator-card{

background:#151515;
padding:40px;
border-radius:12px;
max-width:400px;
transition:0.3s;
border:1px solid transparent;

}

.creator-card:hover{

transform:translateY(-8px);
border:1px solid #ff3c3c;
box-shadow:0 0 20px rgba(255,60,60,0.4);


}

.profile{

width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:20px;

}

.role{

color:#ff3c3c;
margin-bottom:10px;

}

.bio{

margin-bottom:20px;
line-height:1.5;

}

.creator-tools{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
margin-bottom:20px;

}

.creator-tools span{

background:#222;
padding:6px 12px;
border-radius:6px;
font-size:14px;

}

.creator-links{

display:flex;
justify-content:center;
gap:20px;

}

.creator-links a{

text-decoration:none;
color:white;
border-bottom:1px solid #ff3c3c;

}

.team-label{

font-size:12px;
letter-spacing:2px;
color:#999;
margin-bottom:5px;

}